{% extends "base.html" %}

{% block title %}Прайс-лист{% endblock %}

{% block content %}
<h2>Прайс-лист</h2>
<div class="row">
    {% for section in sections %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ section.name }}</h5>
                <p class="card-text">
                    Цена: {{ section.price }} руб.<br>
                    Вместимость: {{ section.capacity }} чел.
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}